/* =======================
MEDIA QUERIES
======================= */
  
@media (max-width: 960px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

    div{
      width: auto;
      height: auto;
    }

    .backButton {
      width: 150px;
      margin: 0 0 40px 0;
    }
  }

  .signButtonSection{
    margin-bottom: 50px;

    .signsView .intro{
      margin-top: -60px;
    }

    .signsView .signsGrid .signsCircle .signRange {
      transform: none;
      padding: 15px 0;

      h2, p{
        font-size: 0.9rem;
      }
    } 
}
  

  .horoscopeView{
    flex-direction: column;
    margin-bottom: 50px;

    .horoscopeFlex.open{
      margin: 20px 0;
      padding: 10px 0;
    }
  }
}
  
@media (max-width: 768px) {
  nav h1{
    width: 80vw;
  }

  .signButtonSection .signsView .signsGrid {
    padding-bottom: 60px;
    padding-top: 10px;
  }

    .horoscopeViewSection .horoscopeFlex .horoscope {
      margin-bottom: 50px;
    }

    .apiFacts.open {
      flex-direction: column;
      
      li {
        padding: 10px 0;
      }
    }
} 
  
@media (max-width: 480px) {

  .signButtonSection .signsView .intro {
      width: 100%;
    }
}