@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,400;0,700;1,400&family=Spectral&family=Spectral+SC&display=swap");

// FONT VARIABLES
$bodyFont: 'Mali', cursive;
$headerFont: 'Spectral', serif;
$titleFont: 'Spectral SC', serif;

// COLOR VARIABLES 
$white: #efefef;
$black: #111010;
$grey: #c2c2c2;
