@import url("https: //fonts.googleapis.com/css2?family=Mali:wght@400;700&family=Spectral&family=Spectral+SC&display=swap");

// FONT VARIABLES
$bodyFont: 'Mali', cursive;
$headerFont: 'Spectral', serif;
$titleFont: 'Spectral SC', serif;

// COLOR VARIABLES 
$white: #FFFFFF;
$black: #111010;