@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,400;0,700;1,400&family=Spectral&family=Spectral+SC&display=swap");

// FONT VARIABLES
$bodyFont: 'Mali', cursive;
$headerFont: 'Spectral', serif;
$titleFont: 'Spectral SC', serif;

// COLOR VARIABLES 
$white: #EFEFEF;
$black: #111010;
$teal: #5FC5BF;
$purple: #d673f4;