@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,400;0,700;1,400&family=Spectral&family=Spectral+SC&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =======================
GENERAL STYLES
======================= */
html {
  background-image: url("../assets/starBackground.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 125%;
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

img {
  max-width: 100%; /* Makes all images become responsive if the parent container wants to shrink */
  display: block; /* removes extra padding at bottom of images */
  height: auto;
  padding: 5%;
}

.button {
  border: 0;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0.5em 1em;
  border-radius: 15px;
  cursor: pointer;
}
.button:hover {
  background-color: #c2c2c2;
}
.button:focus {
  background-color: #c2c2c2;
  outline: 2px solid orange;
}

button {
  border: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  font-family: "Spectral SC", serif;
}

p, select {
  font-family: "Mali", cursive;
}

.button {
  font-family: "Mali", cursive;
}

h1, .intro p, .signRange, footer p {
  color: #efefef;
}

h1 {
  font-family: "Spectral SC", serif;
  font-size: clamp(2rem, 1.4167rem + 2.9167vw, 3.75rem);
  padding: 20px 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
  line-height: 30px;
  text-align: center;
}

.signRange p, .apiSignRange {
  font-size: 0.8rem;
}

.apiDescription {
  font-style: italic;
  font-size: 1.2rem;
}

footer p {
  font-size: 0.75rem;
}

/* ====index.html===== */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100vw;
}
nav div {
  visibility: hidden;
  width: 20%;
}
nav .button {
  visibility: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
}

.signButtonSection {
  height: auto;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
}
.signButtonSection .signsView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  padding-top: 25px;
}
.signButtonSection .signsView .intro {
  width: 80%;
  text-align: center;
  text-justify: inter-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.signButtonSection .signsView .signsGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  padding-top: 5vh;
  margin-top: 20px;
  max-width: 960px;
  min-width: 320px;
}
.signButtonSection .signsView .signsGrid .signsCircle {
  width: 160px;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 5px;
}
.signButtonSection .signsView .signsGrid .signsCircle .signsButton {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.signButtonSection .signsView .signsGrid .signsCircle .signsButton:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  cursor: pointer;
}
.signButtonSection .signsView .signsGrid .signsCircle .signsButton:focus {
  outline: 3px solid orange;
}
.signButtonSection .signsView .signsGrid .signsCircle .signRange {
  margin-top: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.signButtonSection .modal {
  width: 350px;
  border-radius: 20px;
  padding: 15px 30px 40px;
}
.signButtonSection .modal::-webkit-backdrop {
  background: rgba(0, 0, 0, 0.8);
}
.signButtonSection .modal::backdrop {
  background: rgba(0, 0, 0, 0.8);
}
.signButtonSection .modal .formContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.signButtonSection .modal .formContainer .buttonDiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20px;
}
.signButtonSection .modal .formContainer .buttonDiv .exit {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.signButtonSection .modal .formContainer .buttonDiv .exit:focus {
  outline: 2px solid orange;
}
.signButtonSection .modal .formContainer p {
  text-align: center;
  padding-bottom: 20px;
}

.horoscopeViewSection {
  display: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 1;
}
.horoscopeViewSection .horoscopeViewHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.horoscopeViewSection .horoscopeViewHeader .horoscopeSignImg {
  width: 100px;
  border-radius: 50%;
  background-color: #efefef;
}
.horoscopeViewSection .horoscopeViewHeader .signRange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 10px 0 30px;
}
.horoscopeViewSection .horoscopeView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.horoscopeViewSection .horoscopeView .horoscopeFlex {
  background-color: #efefef;
  color: #111010;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
  padding: 25px 0 5px;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}
.horoscopeViewSection .horoscopeView .horoscopeFlex:hover {
  background-color: #c2c2c2;
  cursor: pointer;
}
.horoscopeViewSection .horoscopeView .horoscopeFlex:focus {
  outline: 3px solid orange;
  background-color: #c2c2c2;
}
.horoscopeViewSection .horoscopeView .horoscopeFlex.open {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  cursor: auto;
}
.horoscopeViewSection .horoscopeView .horoscopeFlex.open:hover {
  background-color: #efefef;
  cursor: auto;
}
.horoscopeViewSection .horoscopeView .horoscopeFlex.open:focus {
  outline: none;
  background-color: none;
}
.horoscopeViewSection .horoscopeView .date {
  text-orientation: upright;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
.horoscopeViewSection .horoscopeView .date.open, .horoscopeViewSection .horoscopeView .apiCurrentDate {
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  text-orientation: initial;
  text-align: center;
}
.horoscopeViewSection .horoscopeView .apiDescription {
  display: none;
}
.horoscopeViewSection .horoscopeView .apiDescription.open {
  display: block;
  padding: 35px 0;
  width: 75%;
  text-align: center;
  text-justify: inter-word;
  justify-self: center;
}
.horoscopeViewSection .horoscopeView .apiFacts {
  display: none;
}
.horoscopeViewSection .horoscopeView .apiFacts.open {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0 0;
}
.horoscopeViewSection .horoscopeView .apiFacts.open li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8vw;
}
.horoscopeViewSection .horoscopeView .apiFacts.open li p {
  text-align: center;
  font-family: "Spectral", serif;
}

footer {
  background-color: #000;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

/* =======================
MEDIA QUERIES
======================= */
@media (max-width: 960px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px;
  }
  nav div {
    width: auto;
    height: auto;
  }
  nav .backButton {
    width: 150px;
    margin: 0 0 40px 0;
  }
  .signButtonSection {
    margin-bottom: 50px;
  }
  .signButtonSection .signsView .intro {
    margin-top: -60px;
  }
  .signButtonSection .signsView .signsGrid .signsCircle .signRange {
    -webkit-transform: none;
            transform: none;
    padding: 15px 0;
  }
  .signButtonSection .signsView .signsGrid .signsCircle .signRange h2, .signButtonSection .signsView .signsGrid .signsCircle .signRange p {
    font-size: 0.9rem;
  }
  .horoscopeView {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .horoscopeView .horoscopeFlex.open {
    margin: 20px 0;
    padding: 10px 0;
  }
}
@media (max-width: 768px) {
  nav h1 {
    width: 80vw;
  }
  .signButtonSection .signsView .signsGrid {
    padding-bottom: 60px;
    padding-top: 10px;
  }
  .horoscopeViewSection .horoscopeFlex .horoscope {
    margin-bottom: 50px;
  }
  .horoscopeViewSection .horoscopeView .apiFacts.open {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .horoscopeViewSection .horoscopeView .apiFacts.open li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 95%;
  }
  .signButtonSection .signsView .intro {
    width: 100%;
  }
}